.login-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-image {
  flex: 1; /* Equivalente a width: 50% em um flex container com 2 filhos */
  text-align: center;
}

.login-image img {
  max-width: 50%;
  margin-top: 20px;
  height: auto;
  border-radius: 8px;
}

.text-img {
  font-size: 1.5rem;
  color: #3f51b5;
  margin-top: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.login-form {
  flex: 1;
  padding: 0 20px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3f51b5;
}

.login-form .full-width {
  width: 100%;
  margin-bottom: 20px;
}

/* ========================================= */
/* === REGRAS DE RESPONSIVIDADE PARA TELAS MENORES === */
/* ========================================= */
@media (max-width: 768px) {
  .login-content {
    /* Muda a direção para vertical */
    flex-direction: column;
    /* Adiciona um espaço entre a imagem e o formulário */
    gap: 30px;
  }

  .login-image,
  .login-form {
    /* Faz a imagem e o formulário ocuparem a largura total */
    width: 100%;
    padding: 0; /* Remove o padding lateral do formulário no mobile */
  }

  .login-image img {
    max-width: 60%; /* Aumenta um pouco a imagem para melhor visualização */
  }
}